<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Cadastrar Cliente</title>
<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"/>
<link rel="stylesheet" type="text/css" href="/css/home.css"/>

</head>
<body>
<header id="cabecalho">
  <h3>Cadastro de Clientes</h3>
   

</header>

<nav id="menu">
<a href="/pessoa/listarClientes"><label>Listar Clientes</label></a>
   <a href="/"><label>Home</label></a></nav>
   
   
<form method="POST"  action="/pessoa/addVeiculo" th:object="${cliente}">

<div class="alert alert-success alert-dismissible" role="alert" th:if="${!#strings.isEmpty(mensagem)}">
    <span th:text="${mensagem}">Cadastro salvo com sucesso!</span>

</div>


<div class="alert alert-danger" th:if="${#fields.hasAnyErrors()}">
    <div th:each="detailedError : ${#fields.detailedErrors()}">
       <span th:text="${detailedError.message}"></span>
    
    </div>

</div>

<input type="hidden" th:field="*{idCliente}"/>

<label>Nome : *</label>
  <input type="text" class="form-control"  th:field="*{nome}"/>
  
  <label>Telefone: *</label>
    <input type="text" class="form-control"  th:field="*{tel}"/>
    <label>Endereço: *</label>
      <input type="text" class="form-control"  th:field="*{endereco}" placeholder="Ex: Rua... Número ..."/>
      
      <label>CPF: *</label>
        <input type="text" class="form-control"  th:field="*{cpf}"/>
        
        <label> Adicionar Veículo :</label>
        <select th:field="*{veiculo}">
           <option th:each="automoveis : ${automoveis}" th:value="${automoveis.idCadastro}" th:text="${automoveis.modelo}"></option>
        
        </select>
        
        
         <div class="form-group" id="salvar">
        <div class="col-sm-offset-2 col-sm-10">
           <button type="submit" class="btn btn-primary">Salvar</button>
        
        
        </div>
      
    
  





</form>


<script src="/js/jquery-3.6.0.min.js"></script>
<script src="/js/bootstrap.min.js"></script>

</body>

</html>