<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>Listar Agendamentos</title>
<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"/>
<link rel="stylesheet" type="text/css" href="/css/home.css"/>


</head>


<body>

<nav id="menu">
<a href="/"><label>Home</label></a>
<a href="/agendamento"><label>Voltar ao Agendamento</label></a>

</nav>

<table class="table table-bordered table-striped">
<thead>


  <tr>
  
  
     <th class="text-center col-md-2">Cliente</th>
     <th class="text-center col-md-2">Data</th>
     <th class="text-center col-md-2">Serviço</th>
   
     
     
   </tr>
   
   </thead>
   
   <tr th:each="agendamentos : ${agendamentos}">
      <td class="text-center" th:text="${agendamentos.cliente.nome}"></td>
      <td class="text-center" th:text="${agendamentos.data}"></td>
      <td class="text-center" th:text="${agendamentos.servico}"></td>
      
      
        <td><!--  
      
       <a class="btn btn-link btn-xs" th:href="@{/pessoa/{idCliente}(idCliente=${clientes.idCliente})}" title="Editar" rel="tooltip" data-placement="top">
            <span class="glyphicon glyphicon-pencil"></span>
         
         </a>-->
         
         <a class="btn btn-link btn-xs" data-toggle="modal" data-target="#modalAgenda" th:attr="data-codigo=${agendamentos.id}, data-descricao=${agendamentos.cliente.nome}"   title="Excluir" rel="tooltip" data-placement="top">
          <span class="glyphicon glyphicon-asterisk">Deletar da Agenda</span>
       
       </a> 
       
        
         
      </td>
</tr>








</table>

<div th:replace="modalAgenda"></div>









<script src="/js/jquery-3.6.0.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/excluirAgenda.js"></script>




</body>












</html>