<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Home</title>
<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"/>
<link rel="stylesheet" type="text/css" href="/css/home.css"/>

</head>
<body>
<header id="cabecalho">
 <h3>Home</h3>

</header>

<nav id="menu">
<a href="/pessoa"><label>Cadastrar Cliente</label></a>
<a href="/automovel"><label>Cadastrar Veículo</label></a>
<a href="/agendamento"><label>Agendar Serviço</label></a>




</nav>



<div id="home">
  <h3>Sistema de gerenciamento de serviços automobilísticos</h3>
  
  
  <h2> Nossa loja é a número 1 em qualidade de atendimentos,</br> junte-se a nós para cuidar de seu veículo, pois aqui a sua satisfação é a nossa missão!</h2>
  



<footer id="rodape">
   <h5>Feito por:</h5>
   <h6>Jonathan Willian Gonçales Alves</h6>


</footer>


</div>


<script src="/js/jquery-3.6.0.min.js"></script>
<script src="/js/bootstrap.min.js"></script>

</body>

</html>